@import url(https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700,800,900);

.messages-container {
  position: relative;
  flex: auto;
  flex-direction: column;
  height: 86vh;
  width: 100%;
  padding: 0px 10px 0px 10px;
  margin-left: 10px;
  margin-top: -14px;
  background: #fff;
  font-family: Lato;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: stretch;
}

.inner {
  max-height: 100%;
  width: 100%;
  flex: 1;
  position: absolute;
  bottom: 0vh;
}


.day-section {
  position: relative;
  display: flex;
  width: 100%;
}

.day-subsection {
  width: 92%;
}

.daydivider {
  position: relative;
  margin: 1rem 0;
  text-align: center;
  width: 100%;
  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 1px;
    background: rgb(240,240,240);
    content: '""';
  }
}
.daytext {
  z-index: 1;
  width: 100%;
  position: relative;
  background: #fff;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 500;
}


.messages-end {
  border: black 4px solid;
  position: absolute;
  bottom: 0px;
}
